*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: Helvetica Now Display;
    }
        
    html,
    body {
    width: 100%;
    height: 100%;
    background-color: #131126;
    }
    
    .main{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }
    img{
        height: 500px;
        width: 300px;
        object-fit: cover;
        border: none;
        border-radius: 7px;
    }
    button{
        padding: 10px 20px;
        background-color: #2C3364;
        color: #ffffff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    button:active{
        scale: 0.95;
    }
    
    
    h1{
        color: whitesmoke;
        font-size: 30px;    
        text-align: center;
        padding: 50px;
    }